<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class=" h-100  ">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   
  
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
  <div class="row h-100 d-flex align-items-center ">
    <div class="col-12">
      <ion-card class="card">
        <ion-card-header>
          <ion-card-title class=" text-center title">Bienvenidos  {{id}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <form class="forms-sample" [formGroup]="form">
            <ion-item>
              
              <ion-label position="floating" class="text-secondary"> <ion-icon name="person-circle-outline"></ion-icon> Usuario</ion-label>
              
              <ion-input  type="text" formControlName="user"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" class="text-secondary"><ion-icon name="key-outline"></ion-icon> Contraseña</ion-label>
              <ion-input  type="text" formControlName="password"></ion-input>
            </ion-item>
            <section class="mt-3">
              <ion-button expand="block" (click)="login(form.value)" class="botton">
                <ng-container *ngIf="status.loading">
                  <ion-spinner class="py-3"></ion-spinner>
                </ng-container>
                <span class="py-3">
                  Ingresar
                </span>
                
              </ion-button>
             
            </section>
            <section *ngIf="status.error" class="mt-3 text-center">
              <h2  class="text-danger mt-3 text-center font-weight-bold"> <ion-icon name="alert-circle-outline"></ion-icon><span>Usuario o Cantraseña incorrectos</span></h2>
            </section>
           
    
          </form>
       
        </ion-card-content>
      </ion-card>

    </div>

  </div>

  
</ion-content>
