
<ion-content [fullscreen]="true" class="h-100 ">
  <div class="h-100 container bg">
    <div class="pt-4 text-center">
      <h3 class="font-weight-bold">BIENVENIDO </h3>
      <p>Para ingresar digite su número telfónico</p>

    </div>
    <form [formGroup]="form">
      <div class="row my-4 d-flex text-center d-flex justify-content-center">
        <div class="col-9">
          <ion-item class="seccion shadow-sm">
            <ion-icon name="call-outline"></ion-icon>
            <ion-input placeholder="933848953" type="phone" formControlName="user" class="ml-2"></ion-input>
          </ion-item>
    
        </div>
        <div class="col-9 mt-4">
            
          <button type="button" class="btn btn-primary px-3" [disabled]="form.invalid">Ingresar</button>
        </div>
    
      </div>
      <div class="d-flex justify-content-center mt-5">
        <img src="../../assets/undraw_Mobile_app_p3ts.svg" class="w-75"/>
      </div>

    </form>
  </div>



<!--   
      <div class="row bg-dark d-flex align-items-center ">
       
        <div class="col-12">
          <h2 class="text-center">Ingrese su número</h2>
         
        </div>
        <div class="col-12 mb-2">
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text" formControlName="user"></ion-input>
          </ion-item>
        </div>
      
        <div class="col-12">
       
            <ion-button expand="block" (click)="login(form.value)">
              <ng-container *ngIf="status.loading">
                <ion-spinner class="py-3"></ion-spinner>
              </ng-container>
              <span class="py-3"> Ingresar </span>
            </ion-button>
            <ion-label *ngIf="status.error" class="text-danger mt-3 text-center"
              >Usuario o Cantraseña incorrectos</ion-label
            >
          
        </div>
    
      </div> -->
    

</ion-content>
